setuptools>=70.1,<74 # Sync with .pre-commit-config.yaml
matplotlib>=3.6
moocore>=0.1.4
numpy>=1.23
pandas>=2.0.2
plotly>=5.15


pre-commit >= 3.3.2
ruff >= 0.1.4

tox >= 4.6.2 # Sync with tox.ini
pytest >= 7 # Sync with tox.ini
pytest-cov >= 4.1.0
virtualenv >= 20
build

sphinx >= 6.0
pydata_sphinx_theme
jupyter
ipykernel
kaleido
myst-nb
sphinx-gallery
memory_profiler
sphinxcontrib-napoleon
sphinxcontrib-bibtex
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
jupyterlab
ipywidgets
pillow

# Gallery examples
seaborn
